APP_NAME=Lumina
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080

PORT=8080

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=lumina
DB_USERNAME=lumina
DB_PASSWORD=secret

QUEUE_CONNECTION=database
SESSION_DRIVER=database
CACHE_STORE=database

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info
